.user-keyboard {
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.letters-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.letter, #⌫, #Enter {
  cursor: pointer;
	display: inline-block;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  border: 1px solid black;
  margin: 3px;
  padding: 3px;
  font-size: 30px;
  border-radius: 7px;
  width: 50px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.letter:active , #⌫:active , #Enter:active  {
  background: #2980b9;
	top: 2px;
}

#⌫ {
  font-size: 30px;
}

#Enter {
  font-size: 15px;
}