.user-keyboard {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.letters-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.letter, #⌫ {
  border: 1px solid black;
  margin: 3px;
  padding: 3px;
  font-size: 30px;
  border-radius: 7px;
  width: 40px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#⌫ {
  font-size: 20px;
}