.short-prompt-container-active, 
.short-prompt-container-inactive,
.short-prompt-container-correct,
.short-prompt-container-revealed 
{
  border-radius: 7px;
  margin: 20px;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 2px;
  max-width: 340px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.short-prompt-container-inactive {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.short-prompt-container-correct {
  background-color: rgb(47, 222, 12);
}

.short-prompt-container-revealed {
  background-color: rgba(143, 151, 145, 0.664);
}

.reveal-answer {
  font-family: 'Trebuchet MS', sans-serif;
  color: gray;
  font-size: 0.75em;
  cursor: pointer;
}

.short-prompt-guess {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.guess-letter, .active-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 10px;
  margin: 2px;
  border: 1px solid rgb(0, 0, 0);
}

.active-letter {
  background-color: yellow;
}

.horizontal-shake {
  animation: horizontal-shaking 0.2s 2;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
