.answer-form {
  text-transform: uppercase;
  margin-left: 50px;
  margin-right: 150px;
  margin-top: 10px;
}

.prompt, .unscramble {
  font-family: 'Trebuchet MS', sans-serif;
}

.unscramble {
  color: gray;
  font-size: 0.75em;
}