/* optional reset for presentation */
* {
    font-family: Arial;
    font-size: 20px;
}

.container-eka {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.long-prompt {
    position: sticky; 
    top: 0;
    height: 195px;
    background-color: white;
    padding-top: 20px;
    margin-top: 20px;
    border-radius: 7px;
}

.transition-div-top {
    position: sticky; 
    top: 195px;
    height: 20px;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(255, 255, 255));
}

.short-prompt {
    max-height: 20vh;
    overflow: auto;
}

.transition-div-bottom {
    position: sticky; 
    bottom: 375px;
    height: 40px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(255, 255, 255));
}

.user-keyboard {
    position: sticky; 
    bottom: 0px;
    background-color: white;
}

.modal-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
}
