.sub-container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 100px;
  border: 1px solid black;
}

.short-prompt-container-active {
  width: 400px;
  margin: 100px;
  border: 1px solid yellow;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.short-prompt-container-inactive {
  width: 400px;
  margin: 100px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.short-prompt-guess {
  border: 1px solid orange;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.guess-letter {
  border: 1px solid cyan;
  margin: 10px;
}

.active-letter {
  border: 5px solid rgb(47, 255, 0);
  margin: 10px;
}