.sub-container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 100px;
  border: 1px solid black;
}

.short-prompt-container-active, 
.short-prompt-container-inactive,
.short-prompt-container-correct 
{
  width: auto;
  border-radius: 7px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 100px;
  margin-left: 100px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.short-prompt-container-inactive {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.short-prompt-container-correct {
  background-color: rgb(47, 222, 12);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.short-prompt-guess {
  margin: 10px;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.guess-letter, .active-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 2px;
  border: 1px solid rgb(0, 0, 0);
}

.active-letter {
  background-color: yellow;
}

.horizontal-shake {
  animation: horizontal-shaking 0.2s 2;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}