.sub-container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 100px;
  border: 1px solid black;
}

.short-prompt-container-active {
  width: 450px;
  margin: 10px;
  border: 1px solid rgb(17, 255, 0);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.short-prompt-container-inactive {
  width: 450px;
  margin: 10px;
  border: 1px solid rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.short-prompt-container-correct {
  width: 450px;
  margin: 10px;
  border: 3px solid green;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.short-prompt-guess {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.guess-letter {
  border: 1px solid cyan;
  margin: 10px;
}

.active-letter {
  border: 3px solid rgb(0, 0, 0);
  margin: 10px;
}